{% extends "base.html" %}
{% block title %}Activiteiten{% endblock %}
{% block og.title %}Activiteiten{% endblock %}
{% block og.description %}Activiteiten Tweede Kamer{% endblock %}

{% block main %}
<h4>
  {% if meta.datum != "" %}
  Alle activiteiten op {{ meta.datum }}
  {% else %}
  Recente en toekomstige activiteiten
  {% if meta.commissie != "" %}
  van de {{ default(meta.commissienaam, "commissie") }}
  {% endif %}
  {% endif %}
</h4>
<nav>
  <ul>
    <li>
      {% if meta.datum == "" %}
      Activiteiten vanaf vier dagen geleden.
      {% else %}
      Er zijn {{ length(data) }} resultaten gevonden voor de opgegeven datum.
      {% endif %}
    </li>
  </ul>
  <ul>
    {% if meta.datum == "" %}
    <li><a href="#vandaag">⏩ Spring naar vandaag</a></li>
    <li><a href="./activiteiten.html?datum={{meta.vandaag}}">🗓️ Datum kiezen</a></li>
    {% else %}
    <li><a href="./activiteiten.html">⏩ Terug naar overzicht</a></li>
    <li style="padding-top: 0; padding-bottom: 0;">
      <form id="datum" style="display: inline">
        <input style="display: inline; width: auto" type="date" name="datum" value="{{meta.datum}}">
        <input style="display: inline; width: auto" type="submit" value="►">
      </form>
    </li>
    {% endif %}
  </ul>
</nav>
<center>
  {% if meta.datum == "" %}
  {%if meta.commissie != "" %}
  <a href="./activiteiten.html">Alles</a>
  {%else%}
  Alles
  {%endif%}
{% for d in meta.commies %}
  <b>|</b> {% if d.afko != meta.commissie %}<a href="./activiteiten.html?commissie={{d.escafko}}">{%else%}<b>{%endif%}

    <abbr title="{{d.naam}}">{{ d.afko }}</abbr>
    {% if d.afko != meta.commissie %}</a>{%else%}</b>{%endif%}
{% endfor %}
{% endif %}
</center>
<table class="striped">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Zaal</th>
      <th>Commissie</th>
      <th>Onderwerp</th>
      <th>Titel/Soort</th>
    </tr>
  </thead>
  <tbody>
    {% for d in data %}
      {%if meta.commissie=="" or d.voortouwAfkorting == meta.commissie %}
    <tr{%if d.marker != "" %} id="{{d.marker}}" {%endif%}>
      <td> {{d.datum }}</td>
      <td> {{d.naam}} {%if d.besloten =="true" %}<span data-tooltip="Besloten activiteit">🔒</span>{%endif%} </td>
      <td> <abbr title="{{d.voortouwNaam}}">{{d.voortouwAfkorting}}</abbr></td>
      <td><a href="activiteit.html?nummer={{d.nummer}}"> {{d.onderwerp}}</a></td>
      <td> {{d.noot}}</td>
    </tr>
      {%endif%}
    {% endfor %}
  </tbody>
</table>

{% endblock %}
	
