{% extends "base.html" %}

{% block main %}
<h4>Recente en toekomstige activiteiten</h4>
<p>
  Activiteiten vanaf vier dagen geleden. Of <a href="#vandaag">spring ⏩ naar vandaag</a>.
</p>
<table class="striped">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Zaal</th>
      <th>Commissie</th>
      <th>Onderwerp</th>
      <th>Titel/Soort</th>
    </tr>
  </thead>
  <tbody>
    {% for d in data %}
    <tr{%if d.marker != "" %} id="{{d.marker}}" {%endif%}>
      <td> {{d.datum }}</td>
      <td> {{d.naam}}</td>
      <td> <abbr title="{{d.voortouwNaam}}">{{d.voortouwAfkorting}}</abbr></td>
      <td><a href="activiteit.html?nummer={{d.nummer}}"> {{d.onderwerp}}</a></td>
      <td> {{d.noot}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
	
