{% extends "base.html" %}
{% block div %}
id="recent-docs" x-data="{
				nummer: '',
				activiteit: {},
				loaded: false
}" x-init="activiteitinit($data);"
{% endblock %}

{% block javascript %}
{{ super() }}
{% endblock %}

{% block main %}
<hblock>
  <h4 x-text="activiteit['meta'].onderwerp"></h4>
  <p x-text="activiteit['meta'].nummer"></p>
</hblock>

<h4><span x-text="new Date(activiteit['meta'].datum).toLocaleString('nl-NL', {dateStyle: 'medium', timeStyle: 'short'})"></span> <span x-text="activiteit['zaal'].naam"></span></h4>
<h4 x-text="activiteit['meta'].voortouwNaam"></h4>	
<template x-if="activiteit['videourl'].length">
  <div>
    <a x-bind:href="activiteit['videourl']+'/video'">Link naar debat direct</a>
    <div style="position: relative; width: 100%; max-width: 650px;"><div style="padding-top: 56.25%; width: 100%;"><iframe style="position: absolute; left: 0; top: 0; width: 100%; height: 100%" x-bind:src="activiteit['videourl']+'/embedded'" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe></div></div>
  </div>
</template>
<template x-if="activiteit['meta']?.noot?.length > 0">
  <div style="border-width:1px; border-style:solid; border-color:#222222; padding: 0.5em; max-width: 50em; ">
    <h4>Noot</h4>
    <div x-html="activiteit['meta'].noot"></div>
  </div>
</template>

<h4>Betrokkenen</h4>
<ul>
  <template x-for="a in activiteit['actors']">
    <li><span  x-text="`${a.relatie}: ${a.functie}`"></span> <a x-bind:href="`persoon.html?nummer=${a.nummer}`"> <span x-text="a.naam"></span></a>  </li>
  </template>

</ul>
<h4>Bijlagen</h4>
<ul>
  <template x-for="d in activiteit['docs']">
    <li><a x-bind:href=`get/${d.nummer}`><span x-text="`${d.onderwerp}`"></span></a>
      <span x-text="'('+d.nummer+')'"></span>
    </li>
  </template>

</ul>

<h4>Agendapunten</h4>
<ol>
  <template x-for="(ac, index) in activiteit['agendapunten']" :key="index">
    <li>
      <span x-text="`${ac.onderwerp}`"></span>
      <ul>
	<template x-for="d in ac.zdocs">
	  <li>
	    <a x-bind:href="`get/${d.nummer}`"><span x-text="`${d.onderwerp}`"></span></a>
	    <span x-text="'('+d.nummer+')'"></span>
	  </li>
	</template>
      </ul>
    </li>
  </template>
</ol>
{% endblock %}
	
