<!DOCTYPE html>
<html>
  <head>
    <title>{{ pagemeta.title }}</title>
    <meta charset="utf-8">
    <meta property='og:title' content='{{ og.title }}'>
    <meta property='og:description' content='{{ og.description }}'>
    <meta property='og:type' content='article'>
    <meta property='og:image' content='{{og.imageurl}}'>

    <link rel='stylesheet' href='pico.min.css'>
    <style>
      {% include "custom.css" %}
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block javascript %}
    <script defer src="logic.js"></script>
    <script defer src="alpine.min.js"></script>
    {% endblock %}
  </head>
  
  <body>
    <div {% block div %} {% endblock %}>
      <header class="container">
	<center>
	  <small>
	    [<a href="index.html">overzicht</a>]
	    [<a href="activiteiten.html">activiteiten</a>]
	    [<a href="ongeplande-activiteiten.html">ongeplande activiteiten</a>]
	    [<a href="besluiten.html">besluiten</a>]
	    [<a href="commissies.html">commissies</a>]
	    [<a href="geschenken.html">geschenken</a>]
	    [<a href="kamerleden.html">kamerleden</a>]
	    [<a href="kamerstukdossiers.html">kamerstukdossiers</a>]
	    [<a href="open-vragen.html">open vragen</a>]
	    <br/>
	    [<a href="toezeggingen.html">toezeggingen</a>]
	    [<a href="stemmingen.html">stemmingen</a>]
	    [<a href="verslagen.html">verslagen</a>]	  
	    [<a href="search.html">🔍 uitgebreid zoeken</a>]
	    [<a href="https://github.com/berthubert/tkconv?tab=readme-ov-file#tools-om-de-tweede-kamer-open-data-te-gebruiken"><b>wat is dit?</b></a>]
	    <br/>
	  </small>
    {% block quicksearch %}
    <form action="/search.html">
      <input name="q" size="80" placeholder="Snel zoeken in Tweede Kamer data" type="text" autofocus>
      <input name="twomonths" value="false" type="hidden">
      <input name="soorten" value="alles" type="hidden">
    </form>
    {% endblock %}
	  {% block customheader %}{% endblock %}
	</center>
      </header>
      <main class="container">
	{% block main %}{% endblock %}
      </main>
    </div>
    <footer class="container">
    <small><center>
	<em>Vragen of tips &rarr;  bert@hubertnet.nl - Problemen &rarr; Open een <a href="https://github.com/berthubert/tkconv/issues">ticket op GitHub</a>, of mail
	- volg ons op <a href="https://botsin.space/@TKDocs"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mastodon" viewBox="0 0 16 16">
  <path d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a4 4 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522q0-1.288.66-2.046c.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764q.662.757.661 2.046z"/>
</svg> Mastodon</a></em>
    </center></small>
    </footer>
  </body>
</html>
