{% extends "base.html" %}
{% block div %}
{% endblock %}

{% block main %}
<h4>Recente en toekomstige besluiten</h4>
<table class="striped">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Titel</th>
      <th>Zaak</th>
      <th>Indiener</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for d in besluiten %}    
      <tr>
        <td>{{d.datum}}</td>
	<td>{{d.aonderwerp}}</td>
	<td><a href="zaak.html?nummer={{d.znummer}}">  {{d.zonderwerp}} </a></td>
	<td>{{d.indiener}}</td>
	<td>{{d.tekst}}</td>
      </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
	
