{% extends "base.html" %}
{% block div %}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block main %}
<h4>Commissies</h4>
<h5>Actief</h5>
<table class="striped">
  <thead>
    <tr>
      <th>Commissie</th>
      <th>Afkorting</th>
      <th>Nieuwste activiteit</th>
    </tr>
  </thead>
  <tbody>
    {% for c in data %}
    {% if c.mdatum > "2023-01-01" %}
    <tr>
      <td><a href="commissie.html?id={{c.commissieId}}">{{c.naam}}</a></td> 
      <td>{{c.afkorting}}</td>
      <td>{{formatDutchDate(c.mdatum)}}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>


<h5>Slapend</h5>
<table class="striped">
  <thead>
    <tr>
      <th>Commissie</th>
      <th>Afkorting</th>
      <th>Nieuwste activiteit</th>
    </tr>
  </thead>
  <tbody>
    {% for c in data %}
    {% if c.mdatum <= "2023-01-01" %}
    <tr>
      <td><a href="commissie.html?id={{c.commissieId}}">{{c.naam}}</a></td> 
      <td>{{c.afkorting}}</td>
      <td>{{c.mdatum}}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>


{% endblock %}
	
