<meta name="x-apple-disable-message-reformatting" /> 
<div>
Nieuwe OpenTK documenten, gevonden door je monitors:
<ul>
      {% for a in payload %}
      <li>
	{{ join(a.scannernames, ", ") }}:
	<ul>
	  {% for b in a.hits %}<li><a href="https://berthub.eu/tkconv/{{b.relurl}}">{{b.dispnummer}}</a>: {{ b.description }}</li>{% endfor %}
	</ul>
      </li>
      {% endfor %}
    </ul>
</div>

<p>
Op <a href="https://berthub.eu/tkconv/mijn.html">berthub.eu/tkconv/mijn.html</a> kun je je monitors bijwerken of verwijderen. Als er problemen zijn, druk op reply en ik ga er mee aan de slag!
</p>
<p>
Om op de hoogte te blijven van nieuwe OpenTK ontwikkelingen kan je je <a
href="https://berthub.eu/ckmailer/start.html?hl=c6">hier</a> inschrijven
voor de nieuwsbrief.
</p>
