{% extends "base.html" %}
{% block title %}Error{% endblock %}
{% block og.title %}{{ error }}{% endblock %}
{% block og.description %}Een TKConv error: {{ error }}{% endblock %}
{% block extrameta %}<base href="{{ base-url }}/">{% endblock %}

{% block main %}
<hr>
<h1>{% if status == 404 %}Niet gevonden{% else %}Storing{% endif %}</h1>
<p>
{% if status == 404 %}De gevraagde pagina is niet gevonden.{% else %}Er is helaas iets misgegaan.{% endif %}

De errormelding:

<div style="color: red; font-size: 200%;">
<center>
{{ error }}
</center>
</div>

</p>

<p>
Neem indien gewenst contact op met bert@hubertnet.nl om dit probleem te
melden, dan kijk ik er naar! Stuur vooral de <b>exacte errormelding,
inclusief het getal mee</b>, plus een kopie van de URL-bar. Of
maak een screenshot.

</p>
<p>
Bedankt, samen kunnen we de site beter maken!
</p>

{% endblock %}
	
