{% extends "base.html" %}

{% block main %}
<hr>
<H1>Storing</H1>
<p>
Er is helaas iets misgegaan. De errormelding:

<div style="color: red; font-size: 200%;">
<center>
{{ error }}
</center>
</div>

</p>

<p>
Neem indien gewenst contact op met bert@hubertnet.nl om dit probleem te
melden, dan kijk ik er naar! Stuur vooral de <b>exacte errormelding,
inclusief het getal mee</b>, plus een kopie van de URL-bar. Of
maak een screenshot.

</p>
<p>
Bedankt, samen kunnen we de site beter maken!
</p>

{% endblock %}
	
