{% extends "base.html" %}
{% block div %}{% endblock %}

{% block quicksearch %}
  {{ super() }}
{% endblock %}

{% block main %}
<h4>Geschenken</h4>
    <table class="striped">
      <thead>
      <tr>
        <th>Datum</th>
	<th>Bijgewerkt</th>
	<th>Naam</th>
        <th>Omschrijving</th>
      </tr>
      </thead>
      <tbody>
      {% for d in data %}
      <tr>
        <td>{{d.datum}}</td>
	<td>{{d.pgbijgewerkt}}</td>
	<td><a href="persoon.html?nummer={{d.nummer}}">{{d.roepnaam}} {{d.tussenvoegsel}} {{d.achternaam}}</a></td>
	<td>{{d.omschrijving}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}
	
