{% extends "base.html" %}

{% block main %}
<hblock>
  <h2>{{meta.onderwerp}}</h2>
  <h4>{{meta.titel}}</h4>
  <p><em>{{meta.soort}}</em></p>
</hblock>

<p>Nummer: <b>{{meta.nummer}}</b>, datum: <b>{{meta.datum}}</b>, bijgewerkt: <b>{{meta.bijgewerkt}}</b>, versie: {{meta.versienummer}}</p>

<p>
  <a href="getraw/{{meta.nummer}}">Directe link naar document</a> ({{meta.extensie}}), <a href="{{ kamerurl }}">link naar pagina op de Tweede Kamer site</a>{% if exists("meta.externeidentifier") %}{% if length(meta.externeidentifier) > 0 %}, <a href="https://zoek.officielebekendmakingen.nl/{{meta.externeidentifier}}.html">officiële HTML versie</a>  ({{meta.externeidentifier}}){% endif %}{% endif %}.
</p>

{% if length(docactors) > 0 %}
Gerelateerde personen:
<ul>
  {% for da in docactors %}
  {% if length(da.nummer) > 0 %}
  <li>{{da.relatie}}: <a href="persoon.html?nummer={{da.nummer}}">{{da.naam}}</a>, {{da.functie}} ({{da.fractie}})</li>
  {% else %}
  <li>{{da.relatie}}: {{da.naam}}, {{da.functie}}</li>
  {% endif %}
  {% endfor %}
</ul>
{% endif %}


{% if length(bijlagen) > 0 %}
Bijlagen:
<ul>
  {% for b in bijlagen %}
  <li><a href="./document.html?nummer={{b.nummer}}">{{b.onderwerp}}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if exists("kamerstuk") %}
<p>
  Onderdeel van kamerstukdossier {{kamerstuk.nummer}} {{kamerstuk.toevoeging}}-{{kamerstuk.volgnummer}} <a href="ksd.html?ksd={{kamerstuk.nummer}}">{{kamerstuk.titel}}</a>.
</p>
{% endif %}

{% if exists("zaken") %}
{% for zkey,zvalue in zaken %}
<p>Onderdeel van zaak <a href="zaak.html?nummer={{zkey}}">{{zkey}}</a>:</p>
<ul>
  {% for za in zvalue.actors %}
  <li> {{za.relatie}}: {{za.naam}}{% if length(za.functie) > 0 %}, {{za.functie}} {% endif %}</li>
  {% endfor %}
</ul>
{% endfor %}
{% endif %}

{% if exists("brondocumentData") %}
{% for bd in brondocumentData %}
<p>Bijlage bij: <a href="document.html?nummer={{bd.nummer}}">{{bd.onderwerp}}</a> ({{bd.nummer}})</p>
{% endfor %}
{% endif %}

{% if length(activiteiten) > 0 %}
Onderdeel van activiteiten:
<ul>
{% for a in activiteiten %}
<li>{{a.datum}}: <a href="activiteit.html?nummer={{a.nummer}}">{{a.onderwerp}}</a> ({{a.soort}}), {{a.voortouwNaam}}</li>
{% endfor %}
</ul>
{% endif %}

{% if exists("content") %}

<div style="border-width:1px; border-style:solid; border-color:#222222; padding: 0.5em; max-width: 50em; margin: 0 auto; ">
  <h4>Preview document (🔗 <a href="getraw/{{meta.nummer}}">origineel</a>)</h4>
  <hr/>
  {{ content }}
</div>
{% else %}
<iframe width='95%'  height='1024' src='./{{meta.iframe}}/{{meta.nummer}}'></iframe>
{% endif %}
{% endblock %}
