{% extends "base.html" %}

{% block main %}

<h4>Tweede Kamerleden (en eventuele vacatures)</h4>
<p>
Voor een lijst van zittende EN voormalige kamerleden, <a href="personen.html">klik hier</a>.
</p>

<table class="striped">
  <thead>
    <tr>
      <th>Partij</th>
      <th>Positie</th>
      <th>Titels</th>
      <th>Naam</th>
    </tr>
  </thead>
  <tbody>
    {% for l in data %}
      <tr>
	<td> {{l.afkorting}} </td>
	{% if l.fzgewicht <= 150 %}
			     <td> {{l.fzgewicht}} </td>
			     {% else %}
			     <td>Vacature</td>
	{% endif %}
	<td> {{l.titels}} </td>
	{% if l.fzgewicht <= 150 %}	
			     <td><a href="persoon.html?nummer={{l.nummer}}"> {{l.roepnaam}} {{l.tussenvoegsel}} {{l.achternaam}}</a></td>
			     {% else %} <td>Vacature</td>
			     {% endif %} 
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}
	
