{% extends "base.html" %}

{% block main %}
<h4>Nog ongeplande activiteiten
  {%if meta.commissie != "" %}
  van de {{ meta.commissienaam }}
  {%endif%}
</h4>
<center>
  {%if meta.commissie != "" %}
  <a href="./ongeplande-activiteiten.html">Alles</a>
  {%else%}
  Alles
  {%endif%}
{% for d in meta.commies %}
  <b>|</b> {% if d.afko != meta.commissie %}<a href="./ongeplande-activiteiten.html?commissie={{d.escafko}}">{%else%}<b>{%endif%}

    <abbr title="{{d.naam}}">{{ d.afko }}</abbr>
    {% if d.afko != meta.commissie %}</a>{%else%}</b>{%endif%}
{% endfor %}
</center>

<table class="striped">
  <thead>
    <tr>
      <th>Bijgewerkt</th>
      <th>Commissie</th>
      <th>Onderwerp</th>
      <th>Noot / Soort</th>
    </tr>
  </thead>
  <tbody>
    {% for d in data %}
    {%if meta.commissie=="" or d.voortouwAfkorting == meta.commissie %}
    <tr>
      <td> {{d.bijgewerkt}} </td>
      <td> <abbr title="{{d.voortouwNaam}}">{{d.voortouwAfkorting}}</abbr></td>
      <td><a href="activiteit.html?nummer={{d.nummer}}"> {{d.onderwerp}}</a></td>
      <td> {{d.noot}}</td>
    </tr>
    {%endif%}
    {% endfor %}
  </tbody>
</table>

{% endblock %}
	
