{% extends "base.html" %}

{% block div %}
x-data="{
wantAlles: false,
wantMinisteries: true,
wantEersteKamer: false,
wantAZ: false, wantBUZA: false, wantBZK: false, wantEZK: false, wantDEF: false,
wantFIN: false, wantIEW: false, wantJEV: false, wantLVVN: false,
wantOCW: false, wantSZW: false, wantVRO: false, wantVWS: false,
wantWOO: true,
wantOnbekend: true
}" x-init="parseOODSURl($data)"
{% endblock %}


{% block javascript %}
<script defer src="user.js"></script>
{{ super() }}

{% endblock %}


{% block main %}
<h5>Aanvullingen uit open.overheid.nl <a href="./mijn.html#oods"><svg id="belletje" fill="#999999" height="48px" width="48px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 300 300" xml:space="preserve">
<g>
	<g>
		<path d="M149.996,0C67.157,0,0.001,67.161,0.001,149.997S67.157,300,149.996,300s150.003-67.163,150.003-150.003
			S232.835,0,149.996,0z M149.999,232.951c-10.766,0-19.499-8.725-19.499-19.499h38.995
			C169.497,224.226,160.765,232.951,149.999,232.951z M215.889,193.9h-0.005v-0.001c0,7.21-5.843,7.685-13.048,7.685H97.16
			c-7.208,0-13.046-0.475-13.046-7.685v-1.242c0-5.185,3.045-9.625,7.42-11.731l4.142-35.753c0-26.174,18.51-48.02,43.152-53.174
			v-13.88c0-6.17,5.003-11.173,11.176-11.173c6.17,0,11.173,5.003,11.173,11.173V92c24.642,5.153,43.152,26.997,43.152,53.174
			l4.142,35.758c4.375,2.109,7.418,6.541,7.418,11.726V193.9z"/>
	</g>
</g>
</svg></a></h5>

<form>
  <center>
  <fieldset class="grid">
    <label><input type="checkbox" x-model="wantAlles" @change="updateOODS($data);"/>Alles</label>
    <label><input type="checkbox" x-model="wantEersteKamer" x-bind:disabled="wantAlles" @change="updateOODS($data);"/>Eerste Kamer</label>
    <label><input type="checkbox" x-model="wantMinisteries" x-bind:disabled="wantAlles" @change="updateOODS($data);"/>Alle ministeries</label>
    <label><input type="checkbox" x-model="wantWOO" x-bind:disabled="wantAlles" @change="updateOODS($data);"/>Alle WOO</label>
    <label><input type="checkbox" x-model="wantOnbekend" x-bind:disabled="wantAlles" @change="updateOODS($data);"/>"Onbekend"</label>
  </fieldset>
  <fieldset class="grid">
    <label><input type="checkbox" x-model="wantAZ" x-bind:disabled="wantAlles || wantMinisteries" @change="updateOODS($data);"/>AZ</label>
    <label><input type="checkbox" x-model="wantBUZA" x-bind:disabled="wantAlles || wantMinisteries" @change="updateOODS($data);"/>BUZA</label>
    <label><input type="checkbox" x-model="wantBZK" x-bind:disabled="wantAlles || wantMinisteries" @change="updateOODS($data);"/>BZK</label>
    <label><input type="checkbox" x-model="wantDEF" x-bind:disabled="wantAlles|| wantMinisteries" @change="updateOODS($data);"/>DEF</label>
    <label><input type="checkbox" x-model="wantEZK" x-bind:disabled="wantAlles || wantMinisteries" @change="updateOODS($data);"/>EZK</label>
    <label><input type="checkbox" x-model="wantFIN" x-bind:disabled="wantAlles|| wantMinisteries" @change="updateOODS($data);"/>FIN</label>
    <label><input type="checkbox" x-model="wantIEW" x-bind:disabled="wantAlles|| wantMinisteries" @change="updateOODS($data);"/>I&amp;W</label>
    <label><input type="checkbox" x-model="wantJEV" x-bind:disabled="wantAlles|| wantMinisteries" @change="updateOODS($data);"/>J&amp;V</label>
    <label><input type="checkbox" x-model="wantLVVN" x-bind:disabled="wantAlles|| wantMinisteries" @change="updateOODS($data);"/>LVVN</label>
    <label><input type="checkbox" x-model="wantOCW" x-bind:disabled="wantAlles|| wantMinisteries" @change="updateOODS($data);"/>OCW</label>
    <label><input type="checkbox" x-model="wantSZW" x-bind:disabled="wantAlles|| wantMinisteries" @change="updateOODS($data);"/>SZW</label>
    <label><input type="checkbox" x-model="wantVRO" x-bind:disabled="wantAlles|| wantMinisteries" @change="updateOODS($data);"/>VRO</label>
    <label><input type="checkbox" x-model="wantVWS" x-bind:disabled="wantAlles|| wantMinisteries" @change="updateOODS($data);"/>VWS</label>
  </fieldset>

  </center>
</form>


<table class="striped">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Bijgewerkt</th>
      <th>Bron</th>
      <th>Titel</th>
    </tr>
  </thead>
  <tbody>
    {% for d in oods %}
    <tr>
      <td>{{d.openbaarmakingsdatum}}</td>
      <td>{{d.mutatiedatumtijd}}</td>
      <td>{{d.verantwoordelijke}}</td>
      <td><a href="./oo.html?nummer={{d.id}}">{{d.titel}}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  setInterval(function() { window.location.reload();}, 60*1000);
</script>

{% endblock %}
	
