{% extends "base.html" %}
{% block div %}
{% endblock %}
{% block javascript %}
{% endblock %}

{% block customheader %}
<p>{{ aantalvragen }} open vragen in {{ length(openVragen) }} documenten (afgelopen 5 jaar)</p>
{% endblock %}

{% block main %}
<center><p>
<a href="open-vragen.html">Alles</a>
{% for f in fractiecounts %}
{% if f.fractie != fractie %}
<b>|</b> <a href="open-vragen.html?fractie={{f.fractie}}"> {{f.fractie}} ({{f.count}})</a>
{% else %}
<b>| {{f.fractie}} ({{f.count}}) </b></a>
{% endif %}
{% endfor %}
</p></center>
      <table class="striped">
	<thead>
	  <tr>
            <th>Datum</th>
	    <th>Onderwerp</th>
	    <th>1e Indiener</th>
	    <th>Aan</th>
	    <th>#</th>
	    <th>Uitstel</th>
	  </tr>
	</thead>
	<tbody>
	  {% for d in openVragen %}
          <tr>
            <td>{{d.gestartOp}}</td>
	    <td> <a href="document.html?nummer={{d.docunummer}}"> {{d.onderwerp}} </a></td>
	      <td> <a href="persoon.html?nummer={{d.indiennummer}}">{{d.indiener}} ({{d.fractie}})</a> </td>
	    <td> {{d.aan}} </td>
	    <td> {{d.aantal}} </td>
	    <td> {% if d.numuitstel > 0 %} Ja {% endif %} </td>
          </tr>
	  {% endfor %}
	</tbody>
      </table>
      <script>
	setInterval(function() { window.location.reload();}, 60*1000);
      </script>
{% endblock %}
	
