{% extends "base.html" %}
{% block div %}
{% endblock %}
{% block javascript %}
{% endblock %}

{% block customheader %}
<p>{{ aantalvragen }} open vragen in {{ length(openVragen) }} documenten</p>
{% endblock %}

{% block main %}
<center>
  <p>
    <small>
      <a href="open-vragen.html">Alles</a>
{% for f in fractiecounts %}
{% if f.fractie != fractie %}
      <b>|</b> <a href="open-vragen.html?fractie={{f.fractie}}"> {{f.fractie}} ({{f.count}})</a>
      {% else %}
      <b>| {{f.fractie}} ({{f.count}}) </b>
      {% endif %}
      {% endfor %}
      {% for m in ministeriecounts %}
      {% if m.ministerie != ministerie %}
      <b>|</b> <a href="open-vragen.html?ministerie={{m.ministerie}}"> {{m.afko}}&nbsp;({{m.count}})</a>
      {% else %}
      <b>| {{m.afko}}&nbsp;({{m.count}}) </b>
      {% endif %}
      {% endfor %}
      
    </small>
  </p>
</center>
<table class="striped">
	<thead>
	  <tr>
            <th>Datum</th>
	    <th>Onderwerp</th>
	    <th>1e Indiener</th>
	    <th>Aan</th>
	    <th>#</th>
	    <th>Uitstel</th>
	  </tr>
	</thead>
	<tbody>
	  {% for d in openVragen %}
          <tr>
            <td>{{d.gestartOp}}</td>
	    <td> <a href="document.html?nummer={{d.docunummer}}"> {{d.onderwerp}} </a></td>
	      <td> <a href="persoon.html?nummer={{d.indiennummer}}">{{d.indiener}} ({{d.fractie}})</a> </td>
	    <td> {{d.aan}} </td>
	    <td> {{d.aantal}} </td>
	    <td> {% if d.numuitstel > 0 %} Ja {% endif %} </td>
          </tr>
	  {% endfor %}
	</tbody>
      </table>
      <script>
	setInterval(function() { window.location.reload();}, 60*1000);
      </script>
{% endblock %}
	
