{% extends "base.html" %}
{% block div %}
x-data="{
haveMonitor: false,
monitorId: '',
nummer: {{meta.nummer}},
kind: 'persoon'
}" x-init="checkMonitor($data)"

{% endblock %}

{% block javascript %}
<script defer src="user.js"></script>
{{ super() }}

{% endblock %}


{% block customheader %}
<h3> {{meta.roepnaam}} {{meta.tussenvoegsel}} {{meta.achternaam}} ({{meta.afkorting}})
<span x-html="makeBell($data, haveMonitor);"></span>
</h3>


<img style="height: 175px" src="personphoto/{{meta.nummer}}"/> 
{% endblock %}

{% block main %}
<details>
  <summary  role="button">Ontvangen onvervulde toezeggingen ({{ length(toezeggingen) }})</summary>
    <table class="striped">
      <thead>
	<tr>
	  <th>Datum</th>
	  <th>Tekst</th>
	  <th>Ministerie</th>
	  <th>Commissie</th>
	</tr>
      </thead>
      <tbody>
	{% for t in toezeggingen %}
	<tr>
	  <td> {{t.datum}} </td>
	  <td> {{t.tekst}} (<a href="activiteit.html?nummer={{t.nummer}}">{{t.nummer}}</a>, <a href="toezegging.html?nummer={{t.tnummer}}">{{t.tnummer}}</a>)</td>
	  <td> {{t.ministerie}} </td>
	  <td> {{t.voortouwAfkorting}} </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </details>
<p></p>
<details>
  <summary  role="button">Onbeantwoorde schriftelijke vragen ({{ length(openvragen) }})</summary>
    <table class="striped">
      <thead>
	<tr>
	  <th>Datum</th>
	  <th>Onderwerp</th>
	  <th>Uitstel</th>
	  <th>#&nbsp;vragen</th>
	</tr>
      </thead>
      <tbody>
	{% for o in openvragen %}
	<tr>
	  <td> {{o.sdatum}} </td>
	  <td> {{o.onderwerp}} (<a href="zaak.html?nummer={{o.nummer}}">{{o.nummer}}</a>)</td>
	  <td> {% if o.numuitstel > 0%}Ja{% endif %} </td>
	  <td> {{o.aantal}}  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </details>
<p></p>
  <details>
    <summary  role="button">Zaken ({{ length(zaken) }})</summary>
    <table class="striped">
      <thead>
	<tr>
	  <th>Datum</th>
	  <th>Onderwerp</th>
	  <th>Nummer</th>
	  <th>Soorten</th>
	  <th>Uitkomst</th>
	</tr>
      </thead>
      <tbody>
	{% for z in zaken %}
	<tr>
	  <td> {{z.gestartOp}} </td>
	  <td> {{z.onderwerp}} </td>
	  <td><a href="zaak.html?nummer={{z.nummer}}"> {{z.nummer}}</a></td>
	  <td> {% for d in z.docs %}{% if not loop.is_first %}, {% endif %}{{d.soort}}{% endfor %} </td>
	  <td >{{z.aangenomen}} </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </details>
<p></p>
<details open>
  <summary role="button">Gesproken ({{length(gesproken)}})</summary>
  <table class="striped">
    <thead>
      <tr>
        <th>Datum</th>
	<th>Titel</th>
	<th>Soort</th>
	<th>Zaal</th>
	<th>Minuten</th>
      </tr>
    </thead>
    <tbody>
      {% for v in gesproken %} 
        <tr>
	  <td>{{v.datum}}</td>
	  <td><a href="verslag.html?vergaderingid={{v.vergaderingId}}">{{v.titel}}</a></td>
	  <td>{{v.soort}}</td>
	  <td>{{v.zaal}}</td>
	  <td>{{v.minuten}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</details>

  
<p></p>
<details>
  <summary role="button">Activiteiten ({{length(activiteiten)}})</summary>
  <table class="striped">
    <thead>
      <tr>
        <th>Datum</th>
	<th>Onderwerp</th>
	<th>Commisssie</th>
	<th>Soort</th>
      </tr>
    </thead>
    <tbody>
      {% for v in activiteiten %} 
        <tr>
	  <td>{{v.datum}}</td>
	  <td><a href="activiteit.html?nummer={{v.nummer}}">{{v.onderwerp}}</a></td>
	  <td>{{v.voortouwNaam}}</td>
	  <td>{{v.soort}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</details>



<p></p>
<details open>
  <summary role="button">Geschenken ({{length(geschenken)}})</summary>
  <table class="striped">
    <thead>
      <tr>
        <th>Datum</th>
	<th>Bijgewerkt</th>
	<th>Omschrijving</th>
      </tr>
    </thead>
    <tbody>
      {% for g in geschenken %} 
        <tr id="{{g.id}}">
	  <td>{{g.datum}}</td>
	  <td>{{g.bijgewerkt}}</td>
	  <td>{{g.omschrijving}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</details>

{% endblock %}
	
