{% extends "base.html" %}
{% block div %}
{% endblock %}


{% block customheader %}
<h3> {{meta.roepnaam}} {{meta.tussenvoegsel}} {{meta.achternaam}} ({{meta.afkorting}})</h3>
<img style="height: 175px" src="personphoto/{{meta.nummer}}"/>
{% endblock %}

{% block main %}
  <details>
    <summary  role="button">Zaken</summary>
    <table class="striped">
      <thead>
	<tr>
	  <th>Datum</th>
	  <th>Onderwerp</th>
	  <th>Nummer</th>
	  <th>Soorten</th>
	  <th>Uitkomst</th>
	</tr>
      </thead>
      <tbody>
	{% for z in zaken %}
	<tr>
	  <td> {{z.gestartOp}} </td>
	  <td> {{z.onderwerp}} </td>
	  <td><a href="zaak.html?nummer={{z.nummer}}"> {{z.nummer}}</a></td>
	  <td> {% for d in z.docs %}{% if not loop.is_first %}, {% endif %}{{d.soort}}{% endfor %} </td>
	  <td >{{z.aangenomen}} </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </details>

<p></p>
<details open>
  <summary role="button">Activiteiten</summary>
  <table class="striped">
    <thead>
      <tr>
        <th>Datum</th>
	<th>Onderwerp</th>
	<th>Commisssie</th>
	<th>Soort</th>
      </tr>
    </thead>
    <tbody>
      {% for v in activiteiten %} 
        <tr>
	  <td>{{v.datum}}</td>
	  <td><a href="activiteit.html?nummer={{v.nummer}}">{{v.onderwerp}}</a></td>
	  <td>{{v.voortouwNaam}}</td>
	  <td>{{v.soort}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</details>

<p></p>
<details open>
  <summary role="button">Geschenken</summary>
  <table class="striped">
    <thead>
      <tr>
        <th>Datum</th>
	<th>Bijgewerkt</th>
	<th>Omschrijving</th>
      </tr>
    </thead>
    <tbody>
      {% for g in geschenken %} 
        <tr>
	  <td>{{g.datum}}</td>
	  <td>{{g.bijgewerkt}}</td>
	  <td>{{g.omschrijving}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</details>

{% endblock %}
	
