{% extends "base.html" %}
{% block div %}
x-data="{
				data: {},
				loaded: false
				}" x-init="persooninit($data);"
{% endblock %}

{% block javascript %}
{{ super() }}
{% endblock %}

{% block customheader %}
<h3 x-text="data.meta.roepnaam + ' ' + data.meta.tussenvoegsel +' ' +data.meta.achternaam + ' ('+data.meta.afkorting+')'"></h3>
<img style="width: 140px;" x-bind:src="'personphoto/'+data.meta.nummer"/>
{% endblock %}

{% block main %}
<template x-if="loaded">
  <details>
    <summary  role="button">Zaken</summary>
    <table class="striped">
      <thead>
	<tr>
	  <th>Datum</th>
	  <th>Onderwerp</th>
	  <th>Nummer</th>
	  <th>Soorten</th>
	  <th>Uitkomst</th>
	</tr>
      </thead>
      <tbody>
	<template x-for="z in data['zaken']">
	  <tr>
	    <td x-text="z.gestartOp.substring(0,10)"></td>
	    <td x-text="z.onderwerp"></td>
	    <td><a x-text="z.nummer" x-bind:href="'zaak.html?nummer='+z.nummer"></a></td>
	    <td>
	      <span x-text="z.docs.map(d => d.soort).join(', ')"></span>
	    </td>
	    <td x-text="z.aangenomen"></td>
	  </tr>
	</template>
      </tbody>
    </table>
  </details>
</template>

<p></p>
<details open>
  <summary role="button">Activiteiten</summary>
  <table class="striped">
    <thead>
      <tr>
        <th>Datum</th>
	<th>Onderwerp</th>
	<th>Commisssie</th>
	<th>Soort</th>
      </tr>
    </thead>
    <tbody>
      <template x-for="v in data['activiteiten']">
        <tr>
	  <td x-text="v.datum.substring(0,10)"></td>
	  <td><a x-text="v.onderwerp" x-bind:href="'activiteit.html?nummer='+v.nummer"></a></td>
	  <td x-text="v.voortouwNaam"></td>
	  <td x-text="v.soort"></td>
        </tr>
      </template>
    </tbody>
  </table>
</details>
{% endblock %}
	
