{% extends "base.html" %}
{% block div %}
x-data="{
foundDocs: [],
soorten: '',
twomonths: false,
searchQuery: '',
message: '',
alternatief: '',
busy: false,
haveMonitor: false,
rssurl: '',
monitorId: '',
kind: 'zoek'
}" x-init="init($data);"
{% endblock %}

{% block javascript %}
<script defer src="user.js"></script>
{{ super() }}
{% endblock %}

{% block extrameta %}
<link rel="alternate" type="application/rss+xml" href="https://berthub.eu/tkconv/search/index.xml?q={{q}}" title="OpenTK zoek RSS" />
{% endblock %}

{% block customheader %}

<p></p>
<form @submit.prevent="getSearchResults($data);">
  <fieldset role="group">
    <input x-bind:disabled="busy" name="q" size="80" placeholder="zoektekst, documentnummer, zaaknummer, activiteitnummer..." type="text" x-model="searchQuery" autofocus>
    <label><input x-bind:disabled="busy" name="twomonths" id="twomonths" type="checkbox" value="on" x-model="twomonths" @change="getSearchResults($data);">2&nbsp;maanden</label>
    <span x-html="makeBell($data, haveMonitor);"></span>
    <template x-if="rssurl!=''">
      <a x-bind:href="rssurl"><img src="Generic_Feed-icon.svg"></a>
    </template>
  </fieldset>
  <small>
<fieldset x-bind:disabled="busy">
  <div>
    <input type="radio" id="alles" name="soorten" value="alles" checked x-model="soorten" @change="getSearchResults($data);"/>
    <label for="alles">Alles</label>
    <input type="radio" id="vragenantwoorden" name="soorten" value="vragenantwoorden" x-model="soorten" @change="getSearchResults($data);"/>
    <label for="vragenantwoorden">Vragen &amp; antwoorden</label>
    <input type="radio" id="moties" name="soorten" value="moties" x-model="soorten" @change="getSearchResults($data);"/>
    <label for="moties">Moties</label>
  </div>
</fieldset>
</small>
  <small>Zoeken op <strong>Joe Biden</strong> vindt alle documenten met ergens <i>Joe</i> en ergens <i>Biden</i>. Zoeken op <strong>"Joe Biden"</strong> vindt alleen die twee woorden naast elkaar. Zoeken op <strong>Hubert NOT Bruls</strong> vindt documenten met daarin Hubert maar niet Bruls. De hoofdletters in <strong>NOT</strong> zijn belangrijk.</small>
</form>
{% endblock %}

{% block main %}
<span x-html="alternatief"></span>
<template x-if="busy">
<center>
  <span aria-busy="true"></span>
</center>
</template>

<template x-if="!busy">
<table class="striped">
  <thead>
    <tr>
      <th><a @click.prevent="orderByDate($data)" href="#">Datum</a></th>
      <th>Bijgewerkt</th>
      <th>Nummer</th>
      <th>Onderwerp</th>
      <th><a @click.prevent="orderByScore($data)" href="#">Snip</a></th>
    </tr>
  </thead>
  <tbody>
    <template x-for="d in foundDocs">
      <tr>
        <td x-text="d.datum.substring(0,10)"></td>
	<td x-text="d.bijgewerkt.substring(0,16).replace('T', '&nbsp;')"></td>
	<template x-if="d.category!='Vergadering'">
	  <td><a x-text="d.nummer" x-bind:href="'get/'+d.nummer"></a></td>
	</template>
	<template x-if="d.category=='Vergadering'">
	  <td><a x-text="d.nummer" x-bind:href="'verslag.html?vergaderingid='+d.vergaderingId"></a></td>
	</template>
	
	<td x-text="d.onderwerp"></td>
	<td x-html="d.snip"></td>
      </tr>
    </template>
  </tbody>
</table>
</template>
<center><small>
    <span x-text="message"></span>
</small></center>

{% endblock %}
	
