{% extends "base.html" %}

{% block div %}
{% endblock %}


{% block main %}
<h4>Recente stemmingen</h4>
<table class="striped">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Zaak</th>
      <th>Indiener</th>
      <th>Resultaat</th>
      <th>Voor</th><th>Tegen</th>
    </tr>
  </thead>
  {% for d in stemmingen %}
    <tbody>
      <tr class="stemming{% if default(d.voorstemmen, 0) > default(d.tegenstemmen, 0) %} meervoor{% endif %}{% if default(d.tegenstemmen, 0) > default(d.voorstemmen, 0) %} meertegen{% endif %}">
	<td> {{d.datum}} </td>
	<td><a href="zaak.html?nummer={{d.znummer}}">{{d.zonderwerp}}</a></td>
	<td>{{d.indiener}} </td>
	<td class="besluittekst">{{d.besluittekst}}</td>
	
	<td>{{default(d.voorstemmen, "")}}</td>
	<td>{{default(d.tegenstemmen, "")}}</td>
      </tr>
      <tr>
	<td></td>
	<td><b>Voor</b>: {{ join(d.voorpartij, " | ") }}</td>
	<td colspan="4"><b>Tegen</b>: {{ join(d.tegenpartij, " | ") }}</td>
      </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}
	
