{% extends "base.html" %}
{% block div %}{% endblock %}

{% block main %}
<h3>Openstaande toezeggingen door kabinet ({{length(data)}})</h3>
<center><small>
    <a href="toezeggingen.html">Alles</a>
{% for f in fractiecount %}
{% if f.item != fractie %}
<b>|</b> <a href="toezeggingen.html?fractie={{f.escitem}}">{{f.item}}</a>&nbsp;({{f.count}})
{% else %}
<b>| {{f.item}}&nbsp;({{f.count}}) </b>
{% endif %}
{% endfor %}


    {% for m in voortouwcount %}
{% if m.item != voortouw %}
<b>|</b> <a href="toezeggingen.html?commissie={{m.escitem}}"><abbr title="{{m.fullitem}}">{{m.item}}</abbr></a>&nbsp;({{m.count}})
{% else %}
<b>| {{m.item}}&nbsp;({{m.count}}) </b>
{% endif %}
{% endfor %}
</small></center>


<table class="striped">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Status</th>
      <th>Commissie</th>
      <th>Tekst</th>
      <th>Toezegger</th>
      <th>Ministerie</th>
      <th>Aan</th>
    </tr>
  </thead>
  <tbody>
    {% for d in data %}
    <tr>
      <td>{{d.datum}}</td>
      <td>{{d.status}}</td>
      <td><abbr title="{{d.voortouwNaam}}">{{d.voortouwAfkorting}}</abbr></td>
      <td><a href="activiteit.html?nummer={{d.activiteitNummer}}">{{d.tekst}}</a></td>
      <td> {{d.naamToezegger}}</td>
      <td> {{d.ministerie}}</td>
      {% if existsIn(d, "achternaam") %}
      <td> {{ d.initialen}} {{d.tussenvoegsel}} {{d.achternaam}} {% if  d.fractienaam !="" %} ({{d.fractienaam}}) {% endif %}</td>
      {% else %}
      <td>{{d.fractienaam}}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
	
