{% extends "base.html" %}

{% block main %}


<h4>Uitleg en tips</h4>
In deze twee blog-posts staan uitleg met screenshots:
<p>
<ul>
  <li><a href="https://berthub.eu/articles/posts/welkom-bij-opentk/">Welkom bij OpenTK (deel 1)</a></li>
  <li><a href="https://berthub.eu/articles/posts/welkom-bij-opentk-deel-2/">Welkom bij OpenTK (deel 2): monitors</a></li>
</ul>
</p>
<p>
  Voor vragen, tips, mail vooral met bert@hubertnet.nl. Je kunt ook een issue openen bij <a href="https://github.com/berthubert/tkconv/issues">de open source code pagina op GitHub</a>.
  </p>
<h5 id="zoekmachine">Zoekmachine</h5>
De zoekmachine werkt min of meer zoals de meeste zoekmachines, maar kan ook nog wat extra dingen, en sommige dingen zijn net anders.
<p>
Goed om te weten is dat *op dit moment* de zoekmachine alleen documenten en verslagen doorzoekt. Er wordt aan gewerkt dat ook geschenken, activiteiten en toezeggingen vindbaar worden. 
</p>
<p>
<ul>
  <li>Hoofd en kleine letters zijn voor de zoekmachine hetzelfde</li>
  <li><b>Joe Biden</b> vindt alle documenten met ergens Joe en ergens Biden, niet noodzakelijk bij elkaar in de buurt</li>
  <li><b>"Joe Biden"</b> vindt de alle documenten waar Joe en Biden naast elkaar staan.</li>
  <li><b>NEAR(Joe Biden)</b> vindt ook Joe R. Biden en Joe Robinette Biden</li>
  <li><b>Hubert NOT Bruls</b> vindt alle documenten met Hubert erin, maar niet Bruls. De hoofdletters in <b>NOT</b> zijn belangrijk</li>
  <li><b>"Joe Biden" OR "Barack Obama" NOT Trump</b> vindt alle documenten met daarin ergens Joe Biden (direct na elkaar) en Barack Obama (ook direct na lekaar) maar zonder Trump</li>
</ul>
</p>
<p>
De zoekmachine ziet een hoop dingen als "spatie". Dus als je zoekt op <b>A.W.R. Hubert</b> of <b>A-W-R Hubert</b>, dan vindt hij dat hetzelfde. Zowel ".", "-" als een spatie zijn lege ruimte. 
</p>
<h5 id="monitors">Monitors</h5>
<p>
  Monitors houden activiteiten, documenten, dossiers en andere dingen bij. Als je ingelogd bent kan je overal waar je een belletje ziet een monitor aanzetten. Er komen steeds meer belletjes bij, en ze doen ook meer en meer. Op de <a href="mijn.html">"mijn"</a> pagina kan je die monitors beheren.
</p>
<p>
  Standaard "draait" iedere monitor eens per 5 minuten, maar dat kan leiden tot veel mail per dag. Je kunt het *interval* daarom ook instellen op eens per uur, dag of zelfs week. Maar voor wie er haast is is er ook de optie 'live': bericht zo snel als mogelijk.
</p>
<p>
Aarzel niet met het zetten van monitors - als een document meerdere malen matcht krijg je nog steeds maar 1 emailtje per document.
</p>
<p>
  Een "starter pack" van monitors:
</p>
<p>
<ul>
  <li>Ga naar de <a href="search.html">zoekmachine</a> en formuleer zoekvragen die documenten opleveren die jou interesseren. Druk dan op het belletje en als er nieuwe documenten verschijnen krijg je bericht</li>
  <li>Kijk of er <a href="commissies.html">commissies</a> zijn die passen bij jouw interesses</li>
  <li>Er zijn duizenden <a href="kamerstukdossiers.html">kamerstukdossiers</a>, waar alle belangrijk documenten over een onderwerp terechtkomen</li>
  <li>Zoek op welke kamerleden woordvoerder zijn over je onderwerpen, en <a href="kamerleden.html">voorzie die ook van een monitor</a></li>
</ul>
</p> 

{% endblock %}
	
