{% extends "base.html" %}
{% block main %}
<h4>Verslagen</h4>
<table>
  <thead>
    <tr>
      <th>Datum</th>
      <th>Aanvangstijd</th>
      <th>Titel</th>
      <th>Zaal</th>
      <th>Soort</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for d in recenteVerslagen %}
      <tr>
        <td><time class="whitespace-nowrap" datetime="{{d.datum}}">{{formatDutchDate(d.datum)}}</time></td>
        <td>{{d.aanvangstijd}}</td>
        <td><a href="verslag.html?vergaderingid={{d.vergaderingId}}">{{d.titel}}</a></td>	  
        <td>{{d.zaal}}</td>
        <td>{{d.soort}}</td>
        <td>{{d.status}}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}
	
