{% extends "base.html" %}
{% block div %}
x-data="{
haveMonitor: false,
monitorId: '',
nummer: '{{zaak.nummer}}',
kind: 'zaak'
}" x-init="checkMonitor($data)"
{% endblock %}


{% block javascript %}
<script defer src="user.js"></script>
{{ super() }}

{% endblock %}


{% block main %}

<hgroup>
  <h2>{{zaak.titel}}</h2>
  <h3>{{zaak.onderwerp}}</h3>
  <p>{{zaak.soort}}</p>
</hgroup>

<h4>Zaak {{zaak.nummer}}, gestart op {{ormatDutchDate(zaak.gestartOp)}} <span x-html="makeBell($data, haveMonitor);"></span></h4>
{% if length(kamerstukdossier) > 0 %}
  <p>
    Onderdeel van kamerstukdossier <a href="ksd.html?ksd={{kamerstukdossier.0.nummer}}
					    &toevoeging={{kamerstukdossier.0.toevoeging}}" >{{kamerstukdossier.0.nummer}} {{kamerstukdossier.0.toevoeging}}</a>.
  </p>
  {% endif %}
  
  {% if length(zaak.kabinetsappreciatie) > 0 %}
<p>
  Kabinetsappreciatie: {{zaak.kabinetsappreciatie}}
</p>
{% endif %}

<h4>Betrokkenen</h4>
<ul>
  {% for a in actors %}
  {% if a.nummer != "" %}
  <li>{{a.relatie}}: {{a.functie}} <a href="persoon.html?nummer={{a.nummer}}">{{a.naam}}</a></li>
  {% else %}
  <li>{{a.relatie}}: {{a.functie}} {{a.naam}}</li>
  {% endif %}
  {% endfor %}
</ul>
<h4>Documenten</h4>
<ul>
  {% for a in docs %}
    <li>
      {{a.datum}}:
      <a href="get/{{a.nummer}}">{{a.onderwerp}}</a> ({{a.soort}})
    </li>
    {% endfor %}
</ul>
<h4>Agendapunten</h4>
<ul>
  {% for a in agendapunten %}
  <li>
    {{a.activiteit.aanvangstijd}}: {{a.activiteit.onderwerp}} ({{a.activiteit.soort}}). <a href="activiteit.html?nummer={{a.activiteit.nummer}}">{{a.activiteit.nummer}}</a>
  </li>
  {% endfor %}
</ul>

<h4>Besluiten</h4>
<ul>
  {% for b in besluiten %}
    <li>
      {{b.datum}} ⇒ {{b.tekst}} ({{b.status}})
      	{% if existsIn(b, "voorstemmen") %}
      <ul>

	<li>Voor {{b.voorstemmen}}: 
	  {{ join(b.voorpartij, " | ") }}
	</li>
	<li>Tegen {{b.tegenstemmen}}: {{join(b.tegenpartij, " | ")}}</li>
	{% if b.nietdeelgenomenstemmen > 0 %}
	<li>Niet deelgenomen: {{b.nietdeelgenomenstemmen}} {{ join(b.nietdeelgenomenpartij, " | ")}}</li>
	{% endif %}

      </ul>
      	{% endif %} 
    </li>
  {% endfor %}
</ul>
{% endblock %}
	
